This Project includes Regex Operations on Text Scrapping Dataset.

In [4]:
import pandas as pd
import re

In [5]:
df = pd.read_csv("Salary_Data.csv")
df

                        Age                      Job_Title    Salary
0      32 Male Bachelor's 5              Software Engineer   90000.0
1      28 Female Master's 3                   Data Analyst   65000.0
2            45 Male PhD 15                 Senior Manager  150000.0
3    36 Female Bachelor's 7                Sales Associate   60000.0
4       52 Male Master's 20                       Director  200000.0
..                      ...                            ...       ...
370  35 Female Bachelor's 8       Senior Marketing Analyst   85000.0
371     43 Male Master's 19         Director of Operations  170000.0
372  29 Female Bachelor's 2         Junior Project Manager   40000.0
373    34 Male Bachelor's 7  Senior Operations Coordinator   90000.0
374        44 Female PhD 15        Senior Business Analyst  150000.0

[375 rows x 3 columns]

In [7]:
pattern = r"^\s+$"

In [24]:
df[["Age", "Gender", "Education_Level", "Years_of_Experience"]] = \
df["Age,Gender,Education Level,Year of Experience"].str.split(pattern, expand=True)
df

<class 'KeyError'>: 'Age,Gender,Education Level,Year of Experience'

Index(['Age', 'Job_Title', 'Salary'], dtype='object')